In [22]:
import os
import sys
sys.path.append("../src/")

from openai import OpenAI

import pandas as pd
import csv
import sqlite3

import requests

from agentic_ai.functions import llm_fn, sqldb_fn
from agentic_ai.functions.sqldb_fn import get_conn



import agentic_ai.config

In [14]:
weather_key = agentic_ai.config.WEATHER_API_KEY

In [10]:
api_url = "http://api.weatherapi.com/v1/current.json?key={}&q=hyderabad".format(weather_key)
response = requests.get(api_url)
response.json()

{'location': {'name': 'Hyderabad',
  'region': 'Andhra Pradesh',
  'country': 'India',
  'lat': 17.3753,
  'lon': 78.4744,
  'tz_id': 'Asia/Kolkata',
  'localtime_epoch': 1731748976,
  'localtime': '2024-11-16 14:52'},
 'current': {'last_updated_epoch': 1731748500,
  'last_updated': '2024-11-16 14:45',
  'temp_c': 31.1,
  'temp_f': 88.0,
  'is_day': 1,
  'condition': {'text': 'Mist',
   'icon': '//cdn.weatherapi.com/weather/64x64/day/143.png',
   'code': 1030},
  'wind_mph': 8.5,
  'wind_kph': 13.7,
  'wind_degree': 57,
  'wind_dir': 'ENE',
  'pressure_mb': 1014.0,
  'pressure_in': 29.94,
  'precip_mm': 0.0,
  'precip_in': 0.0,
  'humidity': 36,
  'cloud': 0,
  'feelslike_c': 30.5,
  'feelslike_f': 86.9,
  'windchill_c': 30.2,
  'windchill_f': 86.3,
  'heatindex_c': 29.4,
  'heatindex_f': 84.9,
  'dewpoint_c': 11.9,
  'dewpoint_f': 53.4,
  'vis_km': 5.0,
  'vis_miles': 3.0,
  'uv': 4.7,
  'gust_mph': 9.8,
  'gust_kph': 15.7}}

In [10]:
api_url

'http://api.weatherapi.com/v1/current.json?key=%weather_key&q=London'

In [17]:
response.json()['current']['temp_c']

6.0

In [17]:
table_name = "data_fct"
csv_file = "../data/superstore/superstore.csv"
database = "../data/database.db"
conn = sqlite3.connect(database)

In [18]:
schema = sqldb_fn.setup(csv_file, table_name)

../data/database.db
Database created and data inserted successfully.

In [19]:
schema

    cid           name type  notnull dflt_value  pk
0     0         Row_ID             0       None   0
1     1       Order_ID             0       None   0
2     2     Order_Date             0       None   0
3     3      Ship_Date             0       None   0
4     4      Ship_Mode             0       None   0
5     5    Customer_ID             0       None   0
6     6  Customer_Name             0       None   0
7     7        Segment             0       None   0
8     8        Country             0       None   0
9     9           City             0       None   0
10   10          State             0       None   0
11   11    Postal_Code             0       None   0
12   12         Region             0       None   0
13   13     Product_ID             0       None   0
14   14       Category             0       None   0
15   15   Sub_Category             0       None   0
16   16   Product_Name             0       None   0
17   17          Sales             0       None   0
18   18       Quantity             0       None   0
19   19       Discount             0       None   0
20   20         Profit             0       None   0

In [39]:
conn = get_conn(db_file="../data/database.db")

result = pd.read_sql_query(" SELECT SUM(Sales) AS Total_Sales FROM data_fct WHERE State = 'Ohio' ", conn)

../data/database.db

In [41]:
result.to_json()

'{"Total_Sales":{"0":78258.1359999999}}'

In [34]:
result = pd.read_sql_query(" SELECT distinct State FROM data_fct ", conn)

In [38]:
result.to_json()

'{"State":{"0":"Kentucky","1":"California","2":"Florida","3":"North Carolina","4":"Washington","5":"Texas","6":"Wisconsin","7":"Utah","8":"Nebraska","9":"Pennsylvania","10":"Illinois","11":"Minnesota","12":"Michigan","13":"Delaware","14":"Indiana","15":"New York","16":"Arizona","17":"Virginia","18":"Tennessee","19":"Alabama","20":"South Carolina","21":"Oregon","22":"Colorado","23":"Iowa","24":"Ohio","25":"Missouri","26":"Oklahoma","27":"New Mexico","28":"Louisiana","29":"Connecticut","30":"New Jersey","31":"Massachusetts","32":"Georgia","33":"Nevada","34":"Rhode Island","35":"Mississippi","36":"Arkansas","37":"Montana","38":"New Hampshire","39":"Maryland","40":"District of Columbia","41":"Kansas","42":"Vermont","43":"Maine","44":"South Dakota","45":"Idaho","46":"North Dakota","47":"Wyoming","48":"West Virginia"}}'